---
import FeesTable from "./FeesTable.astro";
import Section from "../Section.astro";
import { IDS } from "../helpers/constants";
---

<Section header="Fees" id={IDS.fees}>
  <div class="mx-auto mb-12 w-2/3 text-center text-xl">
    We are dedicated to preparing our students for a journey of lifelong
    learning . We consider it a privilege to play a role in your child’s life
  </div>
  <FeesTable />
</Section>
