---
import HeaderElement from "./HeaderElement.astro";
---

<header
  x-data="{navbarOpen: false}"
  class="sticky left-0 top-0 z-50 w-full bg-white"
>
  <div class="container mx-auto">
    <div class="relative -mx-4 flex items-center justify-between">
      <div class="w-44 max-w-full px-4">
        <a href="/" class="block w-full py-5">
          <img src="/logo.png" alt="logo" class="block w-full" />
        </a>
      </div>
      <div class="px-4">
        <div>
          <button
            @click="navbarOpen = !navbarOpen"
            :class="navbarOpen && 'navbarTogglerActive'"
            id="navbarToggler"
            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden"
          >
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-primary"
            ></span>
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-primary"
            ></span>
            <span class="relative my-[6px] block h-[2px] w-[30px] bg-primary"
            ></span>
          </button>
          <nav
            x-transition=""
            :class="!navbarOpen && 'hidden'"
            id="navbarCollapse"
            class="absolute right-4 top-full w-full max-w-[350px]
            rounded-lg bg-white px-6 py-5 shadow transition-all lg:static
            lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:px-0
            lg:shadow-none xl:ml-11"
          >
            <ul class="block lg:flex">
              <HeaderElement href="#home">Home</HeaderElement>
              <HeaderElement href="#about_us">About Us</HeaderElement>
              <HeaderElement href="#schedule">Schedule</HeaderElement>
              <HeaderElement href="#fees">Fees</HeaderElement>
              <HeaderElement href="#team">Team</HeaderElement>
              <HeaderElement href="#register">Register</HeaderElement>
              <HeaderElement href="#contact">Contact</HeaderElement>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
