---
import Section from "./Section.astro";
import { IDS } from "./helpers/constants";

const location =
  "https://www.google.com/maps/place/Armenian+Apostolic+Church+St.+Gregory+The+Illuminator/@49.1696404,-123.0723502,17z/data=!3m1!4b1!4m6!3m5!1s0x5486757bec8a1549:0xaa859769dd7eaf14!8m2!3d49.1696369!4d-123.0697753!16s%2Fg%2F1vvr5xnk?entry=ttu";
---

<Section header="Contact Us" id={IDS.contact}>
  <div
    class="mx-auto mb-12 mt-4 flex flex-col gap-3 text-center text-xl sm:w-2/3"
  >
    <div>
      <span class="text-2xl font-bold text-primary">Location:</span>
      <a
        class="hover:underline"
        href={location}
        rel="noreferrer noopener"
        target="_blank"
        >13780 Westminster Highway , Richmond , BC , V6V 1A2
      </a>
    </div>
    <div>
      <span class="text-2xl font-bold text-primary">Phone 1:</span>
      <a class="hover:underline" href="tel:+1778 228 1233">778 228 1233</a>
    </div>
    <div>
      <span class="text-2xl font-bold text-primary">Phone 2:</span>
      <a class="hover:underline" href="tel:+16047277906">604 727 7906</a>
    </div>
    <div>
      <span class="text-2xl font-bold text-primary">Email:</span>
      <a class="hover:underline" href="mailto:staracadmontessori@gmail.com"
        >staracadmontessori@gmail.com</a
      >
    </div>
  </div>
</Section>
