---
import Section from "./Section.astro";
import { IDS } from "./helpers/constants";

const reasons = [
  "The program does not meet the child's needs",
  "The program does not meet the parent's needs",
  "The child is no longer attending or needing child care service",
  "All policies and procedures are not being followed by parent or child",
  "The child's behavior puts other children at risk",
];
---

<Section header="Registration/ Withdrawal/ Discharge" id={IDS.register}>
  <p class="text-center text-xl">
    Please reach us to register your child or to add your child’s name to our
    wait list Star Academy of Montessori requires a one month written notice
    (email or written) from parents for a child to be withdrawn from the school.
  </p>

  <div class="mt-12 flex flex-col items-center">
    <div class="text-3xl text-secondary">Reasons of discharge:</div>
    <ul class="text-center text-xl">
      {reasons.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</Section>
